@layer components {
    .-preloader {
        @apply relative;
        z-index: 20;
        &::after {
            @apply absolute top-1/2 block opacity-60 left-1/2 -mt-5 -ml-5 w-10 h-10 box-border rounded-full z-20 animate-spin border-2 border-white;
            content: '';
            border-left: 2px solid rgba(255, 255, 255, 0);
        }
        &::before {
            @apply block absolute opacity-10 inset-0 bg-white;
            z-index: 20;
            content: '';
        }
        &:not(.-preloader_placeholder, .-preloader_cover) {
            @apply absolute inset-0;
        }
    }


    .-preloader_top {
        &::after {
            @apply top-0;
        }
    }

    .-preloader_placeholder {
        width: 100%;
        height: 200px;
        &::before {
            @apply bg-transparent;
        }
    }

    .-preloader_placeholder.-preloader_sm {
        @apply h-6;
    }

    .-preloader_white {
        &::after {
            border-color: white;
            border-left-color: #18334F;
        }
        &::before {
            opacity: 0;
        }
    }

    .-preloader_sm {
        &::after {
            @apply w-6 h-6 -mt-3 -ml-3;
        }
    }

    .-preloader_xs {
        &::after {
             @apply w-4 h-4 -mt-2 -ml-2;
         }
    }
}
